{% extends './layout.html' %}

{% block content %}

<h5>Create Employee</h5>
<form action="/employees" method="POST">
  <label>Employee Email</label>
  <input type="text" name="email" />
  <label>Employee Manager</label>
  <select name="managerId">
    <option value="-1">None</option>
    {% for employee in employees %}
      <!-- needs to be employee.manager.email -->
      <option value="{{employee.id}}">{{employee.email}}</option>
    {% endfor %}
  </select>
  <button>Create Employee</button>
</form>

<div style="display: flex;flex-wrap: wrap">
{% for employee in employees %}
  <div class="employee" style="margin: 20px 0px;width:33%">
    <h6><strong>Employee Name: </strong>{{ employee.name }}</h6>
    <h6><strong>Email Provider: </strong>{{ employee.emailProvider }}</h6>
    <h6><strong>Employee Email:</strong></h6>

    <form action="/employees/{{employee.id}}?_method=PUT" method="POST">

      <input type="text" name="email" value="{{employee.email}}" />

      <h6><strong>Manager Name:</strong> {{ employee.manager.name}}</h6>

      <select name="managerId">
        <option value="-1">None</option>
        <!-- {% for employee in employees %} -->
          <option
          value="{{employee.id}}">{{employee.email}}</option>
        <!-- {% endfor %} -->
      </select>

      <button>Update</button>
    </form>

    <form style="margin:20px 0px" action="/employees/{{employee.id}}?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>

  </div>
  {% endfor %}
</div>


{% endblock %}
